body {
  background-color: #0d1117;
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #161b22;
  padding: 30px;
  border-radius: 12px;
  width: 480px;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
  text-align: center;
}

.heading {
  color: #ff5555;
  font-size: 24px;
  margin-bottom: 10px;
}

.desc {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 20px;
}

form .field {
  margin-bottom: 15px;
  text-align: left;
}

form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #00ffd0;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  background: #0d1117;
  border: 1px solid #333;
  color: white;
  border-radius: 8px;
  resize: none;
}

form .btn {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  margin: 10px 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

form .delete {
  background-color: #ff5555;
  color: #fff;
}

form .delete:hover {
  background-color: #e04a4a;
}

form .back {
  background-color: #2ea043;
  color: white;
}

form .back:hover {
  background-color: #249134;
}
